body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: Lato, sans-serif;
}

button,
input {
    outline: 0;
}

section {
    position: relative;
}


.h2__title {
    margin-top: 80px;
    color: #2d3950;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.h3__title {
    color: #2d3950;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.55px;
    margin-top: 32px;
    margin-bottom: 7px;
}